
<div class="mt-3 mb-2 agent-level-1">Call API (For Slot Game)</div>
<div class="accordion__pane border api_doc dark:border-dark-5 p-2 mt-1 transfer_api">
    <a href="javascript:;" class="accordion__pane__toggle font-medium block dark:text-gray-700">
        1. <%= __('docs.list_label.control_rtp') %>
    </a>
    <div class="accordion__pane__content mt-3 text-gray-700 leading-relaxed">
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12 sm:col-span-6">
                <%= __('docs.list_label.request_example') %>:
                <button
                    type="button"
                    data-clipboard-target="#agent-info"
                    class="btn button button--sm bg-theme-1 text-white ml-3"
                >
                    <%= __('docs.button.copy') %>
                </button>
                <br>
                <button type="button" class="btn button button--sm1 bg-theme-1 text-white mr-3">POST</button> 
                <a class="aas_endpoint"><%= process.env.AAS_ENDPOINT %></a>
                <pre>
<code id="agent-info">
    {
        "method": "control_rtp",
        "agent_code": "<%= session.auth.agentCode %>",
        "agent_token": "<%= session.auth.token %>",
        "provider_code": "PRAGMATIC",
        "user_code": "test",
        "rtp" : 92
    }


</code>

                </pre>
            </div>

            <div class="col-span-12 sm:col-span-6">
                <%= __('docs.list_label.response_example') %>:
                <pre>

<code>
    - <%= __('docs.list_label.success') %>:
    {
        "status": 1,
        "changed_rtp": 92
    }

    - <%= __('docs.list_label.failure') %>:
    {
        "status": 0,
        "msg": "Invalid Parameter.",
        "detail": "rtp must be less than or equal to 95"
    }

</code>
                </pre>
            </div>
        </div>
    </div>
</div>
                                        
